@import 'general/variables';
@import 'reset';
@import 'mixin/mixin';
@import 'general/general';
@import 'general/menuMobile';
@import 'general/animation';
@import 'general/breadcrumb';
@import 'layout/header';
@import 'pages/home/home';
@import 'layout/sidebar';
@import 'layout/forms';
@import 'layout/footer';
@import '_the-content';




// ------------------------------------------------------------------ custom by hieu ---------------------------------------------------------------------


// --components

.blog-vertical-s{
    display: flex;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #E9E9E9;

    &.sm-pd{
        padding-bottom: unset;
        margin-bottom: 20px;
    }

    &:last-child{
        border-bottom: unset;
    }
    .box-images{
        flex: 0 0 32%;
    }

    .box-text{
        flex: 0 0 68%;
        padding-left: 23px;
        .date{
            span{
                color: #999999;
                font-size: 14px;
            }
        }

        .title{
            padding-top: 18px;

            &.sm-title{
                padding-top: 10px;
                a{
                    font-size: 16px;
                    height: 47px; 
                }
            }

            a{
                font-size: 18px;
                color: #333333;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 600;
                height: 53px;
                transition: .3s ease-out;

                &:hover{
                    color: #028C8F;
                }
            }
        }

        .desc{
            padding-top: 16px;
            span{
                font-size: 15px;
                color: #333333;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 600;
                height: 68px;
                font-weight: 400;
            }
        }
    }
}


.breadCrumb{
    .breadCrumb__inner-home{

        &.current-inner{
            padding-left: 25px;
            margin-left: -10px;
            z-index: 1;
            &::before{
                content: "";
                position: absolute;
                width: 17px;
                height: 100%;
                clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
                z-index: 0;
                left: 0;
                top: 0;
                background: #fff;
            }

            &:last-child{
                z-index: -1;
                &::before{
                    z-index: -1;
                }
                
            }

            
        }
    }
}

.swtich-pages{
    ul{
        display: flex;
        flex-wrap: wrap;

        li{
            margin-right: 10px;

            &:last-child{
                margin-right: unset;
            }

            &.active{
                a{
                    color: #fff;
                    background: #009999;
                }
            }

            a{
                display: block;
                padding: 8px 13px;
                background: #F2F2F2;
                color: #666666;
                transition: .3s ease-out;
                border-radius: 5px;
                margin-bottom: 13px;
                font-weight: 600;
                font-size: 15px;
                &:hover{
                    color: #fff;
                    background: #009999;
                }
            }
        }
    }
}

// --------------------------------------------------------------------- danh muc tin ------------------------------------------------------------------


.sing-verti-box{
    .list-blogs{
        border-top: 1px solid #028C90;
        padding-top: 30px;
        margin-top: 20px;
    }

    .subscribe{
        margin-top: 25px;
    }
}


// --------------------------------------------------------------------- chi tiet tin tuc --------------------------------------------------------------

.head-of-detail{
    .detail-title{
        padding-top: 35px;
        margin-bottom: 15px;
        .title-in{
            font-size: 27px;
            color: #028c90;
            font-weight: 600;
        }
    }

    .the_content{
        font-size: 15px;
        padding: 30px 0px;
        transition: .2s;
    }

    .sub-to-title{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: 1px solid #EFEFEF;
        padding-bottom: 30px;

        .date{
            display: flex;
            p{
                font-size: 14px;
                color: #ACACAC;
                font-weight: normal;
                display: inline-block;
                &:last-child{
                    margin-left: 15px;

                    &::before{
                        content:"\f06e";
                        font-family: "fontawesome";
                        padding-right: 5px;
                    }
                }
            }
        }

        .action{
            display: flex;
            align-items: center;
        }

        .plus-font-size{
            margin-right: 6px;
            label{
                font-size: 14px;
                color: #9999;
                padding-right: 10px;
                
            }

            button{
                border:none;
                outline: none;
                background: #F2F2F2;
                color: #9B9B9B;
                font-size: 16px;
                transition: .3s ease-out;
                
                &:hover{
                    background: #028C8F;
                    color: #fff;
                }
            }
        }
    }
}

.share-box-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    padding: 15px 0px;

    
    

    .left-content{
        a{
            display: inline-block;
            font-size: 14px;
            color: #999;
            margin-right: 8px;
            transition: .3s ease-out;

            &:hover{
                color: #028C90;
            }

            &::before{
                font-family: "fontawesome";
                padding-right: 5px;
            }

            &:nth-child(1){
                &::before{
                    content:"\f104";
                }
            }

            &:nth-child(2){
                &::before{
                    content:"\f0e0";
                }
            }

            &:nth-child(3){
                &::before{
                    content:"\f1ea";
                }
            }
        }
    }
}

.related-blogs{
    .title-related{
        border-bottom: 1px solid #F1F1F1;
        padding-bottom: 10px;
        margin-bottom: 20px;
        margin-top: 30px;
        h3{
            font-size: 24px;
            font-weight: bold;
        }
    }
}


.comments-box{
    background: #F9F9F9;
    padding: 30px;
    margin: 64px 0px;

    .title-comments{
        padding-bottom: 20px;
        h3{
            font-size: 24px;
            font-weight: bold;
        }
    }

    .flex-channel{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 20px;

        

        label{
            display: block;
            flex: 0 0 20%;
            font-size: 16px;
            font-weight: bold;
        }

        .ip-box{
            flex: 0 0 80%;
        }

        input{
            height: 40px;
        }

        textarea{
            height: 150px;
        }

        button{
            border:none;
            outline: none;
            background: #028C90;
            color: #fff;
            padding: 10px 26px;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 600;
            transition: .3s ease-out;

            &:hover{
                background: #005658;
            }
        }

        @media only screen and (max-width: 576px){
            &{
                flex-direction: column;
                align-items: flex-start;

                label{
                    flex: 0 0 100%;
                }
                .ip-box{
                    flex: 0 0 100%;
                    width: 100%;
                }
            }

            
        }
    }
}


// ------------------------------------------------------------------- thu vien anh -----------------------------------------------------------------------

.main-libary-images{
    .hospitalImage{
        .section__title{
            margin-bottom: 25px;
        }
    }

    .swtich-pages{
        padding-bottom: 25px;
    }
}