@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  max-width: 100%;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.overlay-text {
  position: absolute;
  background: linear-gradient(0deg, black 0%, rgba(255, 105, 106, 0.0007353283) 100%);
  bottom: 0;
  left: 0;
  height: 40%;
  width: 100%;
}
@media only screen and (max-width: 1023px) {
  .overlay-text {
    height: 60%;
  }
}

.section__title {
  padding: 15px 0;
  margin-bottom: 19px;
  border-bottom: 2px solid #d6d6d6;
  font-size: 2.4rem;
  font-weight: 700;
}
@media only screen and (max-width: 1199px) {
  .section__title {
    font-size: 2.3rem;
  }
}
@media only screen and (max-width: 374px) {
  .section__title {
    font-size: 1.7rem;
  }
}
.section__title i {
  color: #028c8f;
}

.section__title--white {
  color: #ffffff;
}

.section__title--blue {
  color: #028c8f;
  position: relative;
}
.section__title--blue:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #028c8f;
  bottom: -2px;
  left: 0;
}

.section__title--black {
  color: #333333;
  position: relative;
}
.section__title--black:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #028c8f;
  bottom: -2px;
  left: 0;
}

@media only screen and (max-width: 767px) {
  .qc {
    display: none;
  }
}

.item__img {
  height: 100%;
}
.item__img img {
  min-height: 100%;
  object-fit: cover;
}

.horizontal__news {
  margin-bottom: 25px;
}
@media only screen and (max-width: 1023px) {
  .horizontal__news {
    margin-bottom: 15px;
  }
}
.horizontal__news-img {
  height: 100%;
}
.horizontal__news-img img {
  min-height: 100%;
  object-fit: cover;
}
.horizontal__news-date {
  font-size: 1.4rem;
  color: #999999;
  margin-bottom: 13px;
}
.horizontal__news-date--lightBlue {
  color: #67fffe !important;
}
.horizontal__news-title {
  font-size: 1.5rem;
  font-weight: 700;
}
@media only screen and (max-width: 374px) {
  .horizontal__news-title {
    font-size: 1.3rem;
  }
}
.horizontal__news-title a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333333;
}
.horizontal__news-title a:hover {
  color: #028c8f;
}
.horizontal__news-title--white {
  color: #ffffff !important;
}
.horizontal__news-title--white a {
  color: #ffffff !important;
}
.horizontal__news-title--white a:hover {
  color: #67fffe !important;
}

.vertical__news {
  margin-bottom: 30px;
}
.vertical__news-img {
  margin-bottom: 24px;
}
@media only screen and (max-width: 1023px) {
  .vertical__news-img {
    margin-bottom: 15px;
  }
}
.vertical__news-date {
  font-size: 1.4rem;
  color: #999999;
  margin-bottom: 10px;
}
.vertical__news-title {
  font-size: 2rem;
  color: #333333;
  font-weight: 700;
  margin-bottom: 15px;
}
@media only screen and (max-width: 1023px) {
  .vertical__news-title {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .vertical__news-title {
    font-size: 1.8rem;
  }
}
.vertical__news-title a {
  color: #333333;
}
.vertical__news-title a:hover {
  color: #028c8f;
}
.vertical__news-desc {
  font-size: 1.5rem;
  color: #333333;
  font-weight: 400;
  margin-bottom: 19px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}
.vertical__news-link {
  display: block;
  max-width: 170px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  background-color: #028c8f;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
}
.vertical__news-link:hover {
  color: #ffffff;
}

html.hc-nav-yscroll {
  overflow-y: scroll;
}

body.hc-nav-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  min-height: 100%;
}

.hc-offcanvas-nav {
  visibility: hidden;
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 9999;
}

.hc-offcanvas-nav.is-ios * {
  cursor: pointer !important;
}

.hc-offcanvas-nav .nav-container {
  position: fixed;
  z-index: 9998;
  top: 0;
  width: 70%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  transition: transform 0.4s ease;
}

.hc-offcanvas-nav .nav-wrapper {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overscroll-behavior: none;
  box-sizing: border-box;
}

.hc-offcanvas-nav .nav-content {
  height: 100%;
  max-height: 100vh;
}

.hc-offcanvas-nav .nav-wrapper-0 > .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hc-offcanvas-nav li {
  position: relative;
  display: block;
}

.hc-offcanvas-nav li.level-open > .nav-wrapper {
  visibility: visible;
}

.hc-offcanvas-nav input[type="checkbox"] {
  display: none;
}

.hc-offcanvas-nav label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
}

.hc-offcanvas-nav a {
  position: relative;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
}

.hc-offcanvas-nav a,
.hc-offcanvas-nav a:hover {
  text-decoration: none;
}

.hc-offcanvas-nav.disable-body::after,
.hc-offcanvas-nav .nav-wrapper::after {
  content: '';
  position: fixed;
  z-index: 9990;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease 0.4s, opacity 0.4s ease;
}

.hc-offcanvas-nav.disable-body.nav-open::after,
.hc-offcanvas-nav .sub-level-open::after {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.05s;
}

.hc-offcanvas-nav:not(.nav-open)::after {
  pointer-events: none;
}

.hc-offcanvas-nav.nav-levels-expand .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav.nav-levels-expand .nav-wrapper::after {
  display: none;
}

.hc-offcanvas-nav.nav-levels-expand ul .nav-wrapper {
  min-width: 0;
  max-height: 0;
  overflow: hidden;
  transition: height 0s ease 0.4s;
}

.hc-offcanvas-nav.nav-levels-expand .level-open > .nav-wrapper {
  max-height: none;
}

.hc-offcanvas-nav.nav-levels-overlap .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav.nav-levels-overlap ul .nav-wrapper {
  position: absolute;
  z-index: 9999;
  top: 0;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s ease 0.4s, transform 0.4s ease;
}

.hc-offcanvas-nav.nav-levels-overlap ul li.nav-parent {
  position: static;
}

.hc-offcanvas-nav.nav-levels-overlap ul li.level-open > .nav-wrapper {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: transform 0.4s ease;
}

.hc-offcanvas-nav.nav-position-left {
  left: 0;
}

.hc-offcanvas-nav.nav-position-left .nav-container {
  left: 0;
  transform: translate3d(-280px, 0, 0);
}

.hc-offcanvas-nav.nav-position-left.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}

.hc-offcanvas-nav.nav-position-right {
  right: 0;
}

.hc-offcanvas-nav.nav-position-right .nav-container {
  right: 0;
  transform: translate3d(280px, 0, 0);
}

.hc-offcanvas-nav.nav-position-right.nav-levels-overlap li .nav-wrapper {
  right: 0;
  transform: translate3d(100%, 0, 0);
}

.hc-offcanvas-nav.nav-position-top {
  top: 0;
}

.hc-offcanvas-nav.nav-position-top .nav-container {
  top: 0;
  width: 100%;
  height: auto;
  transform: translate3d(0, -100%, 0);
}

.hc-offcanvas-nav.nav-position-top.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(0, -100%, 0);
}

.hc-offcanvas-nav.nav-position-bottom {
  top: auto;
  bottom: 0;
}

.hc-offcanvas-nav.nav-position-bottom .nav-container {
  top: auto;
  bottom: 0;
  width: 100%;
  height: auto;
  transform: translate3d(0, 100%, 0);
}

.hc-offcanvas-nav.nav-position-bottom.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(0, 100%, 0);
}

.hc-offcanvas-nav.nav-open[class*='hc-nav-'] div.nav-container {
  transform: translate3d(0, 0, 0);
}

.hc-nav-trigger {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
  top: 20px;
  right: 0;
  z-index: 9980;
  width: 30px;
  min-height: 24px;
}

.hc-nav-trigger span {
  width: 30px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transform-origin: 50% 50%;
}

.hc-nav-trigger span,
.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  display: block;
  position: absolute;
  left: 0;
  height: 4px;
  background: #34495E;
  transition: all 0.2s ease;
}

.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  content: '';
  width: 100%;
}

.hc-nav-trigger span::before {
  top: -10px;
}

.hc-nav-trigger span::after {
  bottom: -10px;
}

.hc-nav-trigger.toggle-open span {
  background: rgba(0, 0, 0, 0);
  transform: rotate(45deg);
}

.hc-nav-trigger.toggle-open span::before {
  transform: translate3d(0, 10px, 0);
}

.hc-nav-trigger.toggle-open span::after {
  transform: rotate(-90deg) translate3d(10px, 0, 0);
}

.hc-offcanvas-nav::after,
.hc-offcanvas-nav .nav-wrapper::after {
  background: rgba(0, 0, 0, 0.3);
}

.hc-offcanvas-nav .nav-container,
.hc-offcanvas-nav .nav-wrapper,
.hc-offcanvas-nav ul {
  background: #336ca6;
}

.hc-offcanvas-nav h2 {
  font-size: 19px;
  font-weight: normal;
  text-align: left;
  padding: 20px 17px;
  color: #1b3958;
}

.hc-offcanvas-nav a {
  padding: 14px 17px;
  font-size: 15px;
  color: #fff;
  z-index: 1;
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #2c5d8f;
}

.hc-offcanvas-nav:not(.touch-device) a:hover {
  background: #31679e;
}

.hc-offcanvas-nav ul:first-of-type:not(:first-child) > li:first-child:not(.nav-back):not(.nav-close) > a {
  border-top: 1px solid #2c5d8f;
  margin-top: -1px;
}

.hc-offcanvas-nav li {
  text-align: left;
}

.hc-offcanvas-nav li.nav-close a,
.hc-offcanvas-nav li.nav-back a {
  background: #2c5d8f;
  border-top: 1px solid #295887;
  border-bottom: 1px solid #295887;
}

.hc-offcanvas-nav li.nav-close a:hover,
.hc-offcanvas-nav li.nav-back a:hover {
  background: #2b5c8d;
}

.hc-offcanvas-nav li.nav-parent a {
  padding-right: 58px;
}

.hc-offcanvas-nav li.nav-close span,
.hc-offcanvas-nav li.nav-parent span.nav-next,
.hc-offcanvas-nav li.nav-back span {
  width: 45px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  cursor: pointer;
  transition: background 0.2s ease;
}

.hc-offcanvas-nav li.nav-close span::before,
.hc-offcanvas-nav li.nav-close span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -9px;
  transform: rotate(135deg);
}

.hc-offcanvas-nav li.nav-close span::after {
  transform: rotate(-45deg);
}

.hc-offcanvas-nav a[href]:not([href="#"]) > span.nav-next {
  border-left: 1px solid #2c5d8f;
}

.hc-offcanvas-nav span.nav-next::before,
.hc-offcanvas-nav li.nav-back span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -2px;
  box-sizing: border-box;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform-origin: center;
}

.hc-offcanvas-nav span.nav-next::before {
  transform: translate(-50%, -50%) rotate(135deg);
}

.hc-offcanvas-nav li.nav-back span::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hc-offcanvas-nav.nav-position-left.nav-open .nav-wrapper {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-right.nav-open .nav-wrapper {
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-right span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hc-offcanvas-nav.nav-position-right li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(135deg);
}

.hc-offcanvas-nav.nav-position-top.nav-open .nav-wrapper {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-top span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.hc-offcanvas-nav.nav-position-top li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hc-offcanvas-nav.nav-position-bottom.nav-open .nav-wrapper {
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-bottom span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hc-offcanvas-nav.nav-position-bottom li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul .nav-wrapper,
.hc-offcanvas-nav.nav-levels-none .nav-container ul .nav-wrapper {
  box-shadow: none;
  background: transparent;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul h2,
.hc-offcanvas-nav.nav-levels-none .nav-container ul h2 {
  display: none;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul ul a,
.hc-offcanvas-nav.nav-levels-none .nav-container ul ul a {
  font-size: 14px;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li,
.hc-offcanvas-nav.nav-levels-none .nav-container li {
  transition: background 0.3s ease;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open {
  background: #2e6296;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open a,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open a {
  border-bottom: 1px solid #295887;
}

@keyframes show_box_hd {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(0.7);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }
}
.breadCrumb {
  margin-bottom: 20px;
}
.breadCrumb__inner {
  padding: 11px 0 6px 0;
  border-bottom: 1px solid #dedede;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breadCrumb__inner-left {
  display: flex;
  align-items: center;
}
.breadCrumb__inner-left .breadCrumb__inner-home {
  background-color: #eeeeee;
  padding: 5px 17px 5px 10px;
  position: relative;
  z-index: 2;
  font-size: 1.5rem;
  color: #666666;
  clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%, 0 50%);
}
.breadCrumb__inner-left .breadCrumb__inner-home:first-child {
  border-left: 2px solid #dedede;
}
@media only screen and (max-width: 374px) {
  .breadCrumb__inner-left .breadCrumb__inner-home {
    font-size: 1.3rem;
  }
}
.breadCrumb__inner-left .breadCrumb__inner-datetime {
  font-size: 1.5rem;
}
@media only screen and (max-width: 767px) {
  .breadCrumb__inner-left .breadCrumb__inner-datetime {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 374px) {
  .breadCrumb__inner-left .breadCrumb__inner-datetime {
    font-size: 1.2rem;
  }
}
.breadCrumb__inner-right p {
  font-size: 1.5rem;
  color: #028c8f;
  text-transform: uppercase;
  font-weight: 700;
}

.header__top {
  background-color: #eeeeee;
  padding: 7px 0;
}
.header__top-contact {
  display: flex;
  align-items: center;
}
.header__top-contact a {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 1.3rem;
  text-decoration: none;
  margin-right: 7px;
}
.header__top-contact .facebook {
  background-color: #3b5998;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__top-contact .youtube {
  color: #ffffff;
  background-color: #FF0000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__top-contact .phone {
  display: flex;
  align-items: center;
}
.header__top-contact .phone-icon {
  color: #028c8f;
  border: 1px solid #028c8f;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__top-contact .phone-icon:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  bottom: 0;
  right: 0;
  background-color: #eeeeee;
  border-right: 1px solid #028c8f;
  border-bottom: 1px solid #028c8f;
}
.header__top-contact .phone p {
  font-weight: 700;
  margin-right: 5px;
  font-size: 1.4rem;
}
.header__top-contact .phone-number {
  font-weight: 700;
  color: #028c8f;
  font-size: 1.4rem;
}
.header__top-location p {
  font-size: 1.4rem;
}
@media only screen and (max-width: 1199px) {
  .header__top-location p {
    font-size: 1.2rem;
  }
}
.header__mid {
  padding: 15px 0 35px 0;
}
.header__mid-advice a {
  display: block;
  min-width: 200px;
  width: max-content;
  height: 40px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.8rem;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  background: linear-gradient(0deg, #ff2728 0%, #ff696a 100%);
  border: 1px solid #e80000;
  border-radius: 5px;
  float: right;
}
@media only screen and (max-width: 767px) {
  .header__mid-advice a {
    min-width: 130px;
    font-size: 1.2rem;
  }
}
.header__main {
  background-color: #028c8f;
  border-bottom: 2px solid #016a6d;
  height: 47px;
}
.header__main nav .header__main-home a {
  background-color: #016a6d;
  padding: 16px 11px;
}
.header__main nav .header__main-home a i {
  font-size: 1.5rem;
  color: #ffffff;
}
.header__main nav ul {
  display: flex;
}
.header__main nav ul li:hover a {
  background-color: #016a6d;
}
.header__main nav ul li a {
  color: #ffffff;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 11.5px 20px;
  font-weight: 500;
}
@media only screen and (max-width: 1199px) {
  .header__main nav ul li a {
    padding: 20px 10px;
  }
}
.header__main .header__btn .hamburger {
  cursor: pointer;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 46px;
}
.header__main .header__btn .hamburger .icon-mobile svg {
  fill: #ffffff;
}
.header__main .header__btn .search {
  cursor: pointer;
  margin-right: 10px;
  font-size: 1.5rem;
  line-height: 46px;
}
.header__main .header__btn .search svg {
  fill: #ffffff;
}

.nav-wrapper {
  background-color: #028c8f !important;
}
.nav-wrapper ul {
  background-color: #028c8f !important;
}
.nav-wrapper ul li a {
  font-size: 1.8rem !important;
  color: #ffffff !important;
  font-family: "Poppins", sans-serif !important;
  border-bottom: 1px solid #e5e5e5 !important;
}
@media only screen and (max-width: 424px) {
  .nav-wrapper ul li a {
    font-size: 1.6rem !important;
    padding: 12px 17px;
  }
}
.nav-wrapper ul li a:hover {
  background-color: #028c8f;
}
.nav-wrapper ul li h2 {
  font-family: sb;
  color: #ffffff;
}
.nav-wrapper ul li .menuMobile__submenu {
  background-color: #028c8f !important;
}
.nav-wrapper ul li .menuMobile__submenu .nav-back a {
  background-color: #028c8f !important;
  border-bottom: 1px solid #e5e5e5 !important;
  border-top: 1px solid #e5e5e5 !important;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
}
@media only screen and (max-width: 424px) {
  .nav-wrapper ul li .menuMobile__submenu .nav-back a {
    font-size: 1.6rem !important;
    padding: 12px 17px;
  }
}
.nav-wrapper ul li .menuMobile__submenu .menuMobile__submenu-item a {
  font-size: 1.8rem !important;
  color: #ffffff !important;
  font-family: "Poppins", sans-serif !important;
  border-bottom: 1px solid #e5e5e5 !important;
}
@media only screen and (max-width: 424px) {
  .nav-wrapper ul li .menuMobile__submenu .menuMobile__submenu-item a {
    font-size: 1.6rem !important;
    padding: 12px 17px;
  }
}
.nav-wrapper ul .nav-close a {
  background-color: #028c8f !important;
  border-bottom: 1px solid #e5e5e5 !important;
  border-top: 1px solid #e5e5e5 !important;
}
.nav-wrapper ul .nav-close a span:before {
  display: none;
}
.nav-wrapper ul .nav-close a span:after {
  content: "" !important;
  font-family: 'fontawesome';
  border: none;
  transform: rotate(0);
  font-size: 2rem;
  top: 3px;
}

.box-search_header {
  position: fixed;
  top: 30%;
  left: 50%;
  transition: .3s ease-in-out;
  animation: show_box_hd .5s forwards;
  text-align: center;
  z-index: 9999;
  display: none;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}
.box-search_header.active_show {
  display: block;
}
@keyframes show_box_hd {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(0.7);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }
}
.box-search_header label {
  font-size: 35px;
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 20px;
  color: #028c8f;
}
.box-search_header form {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .box-search_header form {
    width: 80vw;
  }
}
.box-search_header form input {
  border: none;
  outline: none;
  width: 400px;
  height: 40px;
  padding-left: 10px;
  border: 1px solid #028c8f;
  font-size: 1.5rem;
}
@media only screen and (max-width: 768px) {
  .box-search_header form input {
    width: 100%;
  }
}
.box-search_header form button {
  width: 40px;
  background: #028c8f;
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.5rem;
}

.over-lay-mb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8);
  z-index: 9995;
  display: none;
}
.over-lay-mb.overlay-open {
  display: block;
}

.news {
  margin-bottom: 27px;
}
.news__item {
  position: relative;
  height: 481px;
  overflow: hidden;
  max-width: 100%;
}
@media only screen and (max-width: 768px) {
  .news__item {
    height: auto;
  }
}
.news__item:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
@media only screen and (max-width: 767px) {
  .news__item {
    height: auto;
    margin-bottom: 20px;
  }
}
.news__item img {
  height: 100%;
  width: 100%;
  transition: 0.5s;
}
@media only screen and (max-width: 768px) {
  .news__item img {
    height: auto;
  }
}
.news__item-content {
  position: absolute;
  bottom: 0;
  z-index: 9;
  color: #ffffff;
  padding: 26px 23px;
  background: linear-gradient(0deg, black 0%, rgba(255, 105, 106, 0.0007353283) 100%);
}
.news__item-content .news__date {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1199px) {
  .news__item-content .news__date {
    margin-bottom: 10px;
    font-size: 1.4rem;
  }
}
.news__item-content .news__title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 767px) {
  .news__item-content .news__title {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 374px) {
  .news__item-content .news__title {
    font-size: 1.6rem;
  }
}
.news__item-content .news__title a {
  color: #ffffff;
}
.news__item-content .news__desc {
  font-size: 1.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 374px) {
  .news__item-content .news__desc {
    font-size: 1.4rem;
  }
}

.activity {
  margin-bottom: 27px;
}
@media only screen and (max-width: 767px) {
  .activity__inner {
    margin-bottom: 20px;
  }
}
.activity__inner .activity-carousel {
  height: 100%;
}
.activity__inner .activity-carousel .owl-stage-outer {
  height: 100%;
}
.activity__inner .activity-carousel .owl-stage-outer .owl-stage {
  height: 100%;
}
.activity__inner .activity-carousel .owl-stage-outer .owl-stage .owl-item {
  height: 100%;
}
.activity__inner .activity-carousel .owl-nav {
  position: absolute;
  top: -65px;
  right: -108%;
}
.activity__inner .activity-carousel .owl-nav .owl-prev,
.activity__inner .activity-carousel .owl-nav .owl-next {
  border: 1px solid #cccccc !important;
  width: 26px;
  height: 26px;
  color: #999999;
  font-size: 1.6rem !important;
  outline: none;
  border-radius: 3px;
  margin: 5px;
  outline: none;
}
.activity__inner .activity-carousel .owl-nav .owl-prev:hover,
.activity__inner .activity-carousel .owl-nav .owl-next:hover {
  background-color: #028c8f;
  border: 1px solid #028c8f !important;
}
.activity__inner .activity-carousel .owl-nav .owl-prev:hover:after,
.activity__inner .activity-carousel .owl-nav .owl-next:hover:after {
  color: #ffffff !important;
}
.activity__inner .activity-carousel .owl-nav .owl-prev span,
.activity__inner .activity-carousel .owl-nav .owl-next span {
  display: none;
}
.activity__inner .activity-carousel .owl-nav .owl-prev:after {
  content: "\f104";
  font-family: 'fontawesome';
  color: #999999;
}
.activity__inner .activity-carousel .owl-nav .owl-next:after {
  content: "\f105";
  font-family: 'fontawesome';
  color: #999999;
}
.activity__notification {
  border: 1px solid #ff2d2e;
  border-bottom: 9px solid #ff2d2e;
}
.activity__notification-head {
  padding: 20px 16px;
  background-color: #ff2d2e;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 700;
}
@media only screen and (max-width: 374px) {
  .activity__notification-head {
    font-size: 1.7rem;
  }
}
.activity__notification-content {
  padding: 33px 19px;
}
@media only screen and (max-width: 1199px) {
  .activity__notification-content {
    padding: 33px 10px;
  }
}

.activity__item {
  height: 670px;
}
@media only screen and (max-width: 768px) {
  .activity__item {
    height: 350px;
  }
}
.activity__item-main {
  position: relative;
  height: 100%;
}
.activity__item-main img {
  height: 100%;
  object-fit: cover;
}
.activity__item-main .activity__item-content {
  position: absolute;
  bottom: 0;
  z-index: 9;
  color: #ffffff;
  padding: 26px 23px;
}
.activity__item-main .activity__item-content .activity__date {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .activity__item-main .activity__item-content .activity__date {
    margin-bottom: 10px;
  }
}
.activity__item-main .activity__item-content .activity__title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 1023px) {
  .activity__item-main .activity__item-content .activity__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media only screen and (max-width: 767px) {
  .activity__item-main .activity__item-content .activity__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 374px) {
  .activity__item-main .activity__item-content .activity__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.6rem;
  }
}
.activity__item-main .activity__item-content .activity__title a {
  color: #ffffff;
}
.activity__item-main .activity__item-content .activity__desc {
  font-size: 1.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 1023px) {
  .activity__item-main .activity__item-content .activity__desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media only screen and (max-width: 767px) {
  .activity__item-main .activity__item-content .activity__desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media only screen and (max-width: 374px) {
  .activity__item-main .activity__item-content .activity__desc {
    font-size: 1.4rem;
  }
}

.info {
  margin-bottom: 25px;
}
.info .info__inner {
  background-color: #028c8f;
  padding: 20px 30px;
}
.info .info__inner .info__epidemic-carousel {
  margin-bottom: 25px;
}
.info .info__inner .info__epidemic-carousel .info__epidemic-item {
  margin-bottom: 20px;
}
.info .info__inner .info__epidemic-carousel .info__epidemic-item .info__epidemic-img {
  height: 100%;
}
.info .info__inner .info__epidemic-carousel .info__epidemic-item .info__epidemic-img img {
  min-height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 767px) {
  .info .info__inner .info__epidemic-carousel .info__epidemic-item .info__epidemic-img {
    margin-bottom: 15px;
  }
}
.info .info__inner .info__epidemic-carousel .info__epidemic-item .info__epidemic-text .info__epidemic-date {
  font-size: 1.4rem;
  color: #ffffff;
  margin-bottom: 25px;
}
@media only screen and (max-width: 767px) {
  .info .info__inner .info__epidemic-carousel .info__epidemic-item .info__epidemic-text .info__epidemic-date {
    margin-bottom: 10px;
  }
}
.info .info__inner .info__epidemic-carousel .info__epidemic-item .info__epidemic-text .info__epidemic-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .info .info__inner .info__epidemic-carousel .info__epidemic-item .info__epidemic-text .info__epidemic-title {
    margin-bottom: 10px;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 374px) {
  .info .info__inner .info__epidemic-carousel .info__epidemic-item .info__epidemic-text .info__epidemic-title {
    font-size: 1.8rem;
  }
}
.info .info__inner .info__epidemic-carousel .info__epidemic-item .info__epidemic-text .info__epidemic-title a {
  color: #ffffff;
}
.info .info__inner .info__epidemic-carousel .info__epidemic-item .info__epidemic-text .info__epidemic-title a:hover {
  color: #67fffe;
}
.info .info__inner .info__epidemic-carousel .info__epidemic-item .info__epidemic-text .info__epidemic-desc {
  font-size: 1.5rem;
  color: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 35px;
}
@media only screen and (max-width: 767px) {
  .info .info__inner .info__epidemic-carousel .info__epidemic-item .info__epidemic-text .info__epidemic-desc {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 374px) {
  .info .info__inner .info__epidemic-carousel .info__epidemic-item .info__epidemic-text .info__epidemic-desc {
    font-size: 1.3rem;
  }
}
.info .info__inner .info__epidemic-carousel .info__epidemic-item .info__epidemic-text .info__epidemic-link {
  display: block;
  max-width: 170px;
  text-align: center;
  line-height: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #000;
  font-weight: 700;
}
.info .info__inner .info__epidemic-carousel .info__epidemic-item .info__epidemic-text .info__epidemic-link:hover {
  color: #028c8f;
}
.info .info__inner .info__epidemic-carousel .owl-nav {
  position: absolute;
  top: -80px;
  right: 0;
}
.info .info__inner .info__epidemic-carousel .owl-nav .owl-prev,
.info .info__inner .info__epidemic-carousel .owl-nav .owl-next {
  border: 1px solid #cccccc;
  width: 26px;
  height: 26px;
  color: white;
  font-size: 1.6rem;
  outline: none;
}
.info .info__inner .info__epidemic-carousel .owl-nav .owl-prev:hover,
.info .info__inner .info__epidemic-carousel .owl-nav .owl-next:hover {
  background-color: #67fffe;
  border: 1px solid #67fffe !important;
}
.info .info__inner .info__epidemic-carousel .owl-nav .owl-prev span,
.info .info__inner .info__epidemic-carousel .owl-nav .owl-next span {
  display: none;
}
.info .info__inner .info__epidemic-carousel .owl-nav .owl-prev:after {
  content: "\f104";
  font-family: 'fontawesome';
}
.info .info__inner .info__epidemic-carousel .owl-nav .owl-next:after {
  content: "\f105";
  font-family: 'fontawesome';
}
@media only screen and (max-width: 1023px) {
  .info .info__right {
    display: flex;
  }
}
@media only screen and (max-width: 1023px) {
  .info .info__right .ads {
    margin-left: 10px;
  }
}

.hospitalImage {
  margin-bottom: 24px;
}
.hospitalImage-carousel .owl-nav {
  position: absolute;
  top: -65px;
  right: 0;
}
.hospitalImage-carousel .owl-nav .owl-prev,
.hospitalImage-carousel .owl-nav .owl-next {
  border: 1px solid #cccccc !important;
  width: 26px;
  height: 26px;
  color: #999999;
  font-size: 1.6rem !important;
  margin: 0 5px;
  border-radius: 3px;
  outline: none;
}
.hospitalImage-carousel .owl-nav .owl-prev:hover,
.hospitalImage-carousel .owl-nav .owl-next:hover {
  background-color: #028c8f;
  border: 1px solid #028c8f !important;
}
.hospitalImage-carousel .owl-nav .owl-prev:hover:after,
.hospitalImage-carousel .owl-nav .owl-next:hover:after {
  color: #ffffff !important;
}
.hospitalImage-carousel .owl-nav .owl-prev span,
.hospitalImage-carousel .owl-nav .owl-next span {
  display: none;
}
.hospitalImage-carousel .owl-nav .owl-prev:after {
  content: "\f104";
  font-family: 'fontawesome';
  color: #999999;
}
.hospitalImage-carousel .owl-nav .owl-next:after {
  content: "\f105";
  font-family: 'fontawesome';
  color: #999999;
}

.hospitalVideo {
  margin-bottom: 50px;
}
.hospitalVideo-carousel {
  margin-bottom: 30px;
}
.hospitalVideo-carousel .hospitalVideo__img {
  position: relative;
}
.hospitalVideo-carousel .hospitalVideo__img:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #333333;
  opacity: 0.5;
}
.hospitalVideo-carousel .hospitalVideo__img .fa-play-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 8rem;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  z-index: 9;
}
@media only screen and (max-width: 767px) {
  .hospitalVideo-carousel .hospitalVideo__img .fa-play-circle {
    font-size: 7rem;
  }
}
.hospitalVideo-carousel .hospitalVideo__img .hospitalVideo__text {
  position: absolute;
  bottom: 28px;
  left: 25px;
  z-index: 10;
  color: #fefefe !important;
}
@media only screen and (max-width: 767px) {
  .hospitalVideo-carousel .hospitalVideo__img .hospitalVideo__text {
    bottom: 10px;
  }
}
.hospitalVideo-carousel .hospitalVideo__img .hospitalVideo__text-date {
  font-size: 1.6rem;
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .hospitalVideo-carousel .hospitalVideo__img .hospitalVideo__text-date {
    margin-bottom: 0;
  }
}
.hospitalVideo-carousel .hospitalVideo__img .hospitalVideo__text-title {
  font-size: 2.4rem;
  font-weight: 700;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hospitalVideo-carousel .hospitalVideo__img .hospitalVideo__text-title a {
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  .hospitalVideo-carousel .hospitalVideo__img .hospitalVideo__text-title {
    font-size: 1.6rem;
  }
}
.hospitalVideo-carousel .owl-nav {
  position: absolute;
  top: -80px;
  right: 0;
}
.hospitalVideo-carousel .owl-nav .owl-prev,
.hospitalVideo-carousel .owl-nav .owl-next {
  border: 1px solid #cccccc !important;
  width: 26px;
  height: 26px;
  color: #999999;
  font-size: 1.6rem !important;
  outline: none;
}
.hospitalVideo-carousel .owl-nav .owl-prev:hover,
.hospitalVideo-carousel .owl-nav .owl-next:hover {
  background-color: #028c8f;
  border: 1px solid #028c8f !important;
}
.hospitalVideo-carousel .owl-nav .owl-prev:hover:after,
.hospitalVideo-carousel .owl-nav .owl-next:hover:after {
  color: #ffffff !important;
}
.hospitalVideo-carousel .owl-nav .owl-prev span,
.hospitalVideo-carousel .owl-nav .owl-next span {
  display: none;
}
.hospitalVideo-carousel .owl-nav .owl-prev:after {
  content: "\f104";
  font-family: 'fontawesome';
  color: #999999;
}
.hospitalVideo-carousel .owl-nav .owl-next:after {
  content: "\f105";
  font-family: 'fontawesome';
  color: #999999;
}
.hospitalVideo__list-item .item__img {
  position: relative;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1023px) {
  .hospitalVideo__list-item .item__img {
    margin-bottom: 10px;
  }
}
.hospitalVideo__list-item .item__img:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #333333;
  opacity: 0.5;
}
.hospitalVideo__list-item .item__img .fa-play-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 8rem;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  z-index: 9;
}
@media only screen and (max-width: 1023px) {
  .hospitalVideo__list-item .item__img .fa-play-circle {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 767px) {
  .hospitalVideo__list-item .item__img .fa-play-circle {
    font-size: 3rem;
  }
}
.hospitalVideo__list-item .item__text-date {
  font-size: 1.4rem;
  color: #999999;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1023px) {
  .hospitalVideo__list-item .item__text-date {
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .hospitalVideo__list-item .item__text-date {
    font-size: 1.2rem;
  }
}
.hospitalVideo__list-item .item__text-title {
  font-size: 1.6rem;
  font-weight: 700;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hospitalVideo__list-item .item__text-title a {
  color: #333333;
}
.hospitalVideo__list-item .item__text-title a:hover {
  color: #028c8f;
}
@media only screen and (max-width: 1023px) {
  .hospitalVideo__list-item .item__text-title {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 767px) {
  .hospitalVideo__list-item .item__text-title {
    font-size: 1.2rem;
  }
}

.hospitalImage__item {
  margin-bottom: 20px;
}
.hospitalImage__item .hospitalImage__image {
  margin-bottom: 24px;
  position: relative;
  max-width: 100%;
  height: 310px;
}
.hospitalImage__item .hospitalImage__image.height-two-s {
  height: 215px;
}
.hospitalImage__item .hospitalImage__image img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
}
.hospitalImage__item .hospitalImage__image:after {
  position: absolute;
  content: "\f03e";
  font-family: fontawesome;
  right: 10px;
  bottom: 15px;
  font-size: 1.8rem;
  color: #ffffff;
}
.hospitalImage__item .hospitalImage__title {
  font-size: 1.7rem;
  font-weight: 700;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hospitalImage__item .hospitalImage__title a {
  color: #333333;
}
.hospitalImage__item .hospitalImage__title a:hover {
  color: #028c8f;
}

.multi-info {
  margin-bottom: 24px;
}
.multi-info .section__title i {
  color: #028c8f;
  margin-right: 5px;
}
@media only screen and (max-width: 1023px) {
  .multi-info .subscribe {
    margin-top: 20px;
  }
}
.multi-info .subscribe .multi-info__form {
  display: flex;
  margin-bottom: 30px;
}
.multi-info .subscribe .multi-info__form input {
  height: auto;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: unset;
  font-size: 1.4rem;
  color: #333333;
}
.multi-info .subscribe .multi-info__form input:focus {
  box-shadow: none;
  border: 1px solid #028c8f;
}
.multi-info .subscribe .multi-info__form input::placeholder {
  color: #333333;
  font-size: 1.4rem;
}
.multi-info .subscribe .multi-info__form button {
  background-color: #028c8f;
  border-radius: unset;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 700;
}
.multi-info .subscribe .multi-info__form button:hover {
  color: #ffffff;
}
.multi-info .corona-shield {
  background: #333;
  border: 1px solid #111;
  overflow: hidden;
  border-radius: 4px;
}
.multi-info .corona-shield__header {
  background-color: #222;
  height: 40px;
  background: #222;
  padding-left: 15px;
}
.multi-info .corona-shield__header .header__left .lotus-logo {
  width: 20px;
  margin-right: 7px;
}
.multi-info .corona-shield__header .header__left span {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 700;
}
@media only screen and (max-width: 1199px) {
  .multi-info .corona-shield__header .header__left span {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 1023px) {
  .multi-info .corona-shield__header .header__left span {
    font-size: 1.3rem;
  }
}
.multi-info .corona-shield__content {
  padding: 14px;
}
.multi-info .corona-shield__content .corona-shield-update {
  font-size: 1.2rem;
  line-height: 13px;
  margin-bottom: 16px;
  color: #ffffff;
  opacity: .3;
}
.multi-info .corona-shield__content .corona-shield__worldStatus {
  padding-bottom: 20px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}
.multi-info .corona-shield__content .corona-shield__worldStatus .worldStatus__header {
  margin-bottom: 14px;
}
.multi-info .corona-shield__content .corona-shield__worldStatus .worldStatus__header svg {
  margin-right: 8px;
}
.multi-info .corona-shield__content .corona-shield__worldStatus .worldStatus__header span {
  font-size: 1.3rem;
  line-height: 19px;
  color: #ffffff;
  font-weight: 700;
}
@media only screen and (max-width: 1199px) {
  .multi-info .corona-shield__content .corona-shield__worldStatus .worldStatus__header span {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1023px) {
  .multi-info .corona-shield__content .corona-shield__worldStatus .worldStatus__header span {
    font-size: 1.3rem;
  }
}
.multi-info .corona-shield__content .corona-shield__worldStatus .worldStatus__content-item {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 10px 10px 12px;
  margin-bottom: 12px;
}
@media only screen and (max-width: 1199px) {
  .multi-info .corona-shield__content .corona-shield__worldStatus .worldStatus__content-item {
    padding: 5px;
  }
}
@media only screen and (max-width: 1023px) {
  .multi-info .corona-shield__content .corona-shield__worldStatus .worldStatus__content-item {
    padding: 10px 12px;
  }
}
.multi-info .corona-shield__content .corona-shield__worldStatus .worldStatus__content-item .item__type {
  font-size: 1.3rem;
  line-height: 16px;
  color: #ffffff;
  opacity: .5;
  margin-bottom: 4px;
}
@media only screen and (max-width: 1199px) {
  .multi-info .corona-shield__content .corona-shield__worldStatus .worldStatus__content-item .item__type {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1023px) {
  .multi-info .corona-shield__content .corona-shield__worldStatus .worldStatus__content-item .item__type {
    font-size: 1.3rem;
  }
}
.multi-info .corona-shield__content .corona-shield__worldStatus .worldStatus__content-item .item__count {
  font-size: 2.5rem;
  line-height: 36px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 4px;
}
@media only screen and (max-width: 1199px) {
  .multi-info .corona-shield__content .corona-shield__worldStatus .worldStatus__content-item .item__count {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 1023px) {
  .multi-info .corona-shield__content .corona-shield__worldStatus .worldStatus__content-item .item__count {
    font-size: 2.5rem;
  }
}
.multi-info .corona-shield__content .corona-shield__worldStatus .worldStatus__content-item .item__count-blue {
  color: #1eb2a6;
}
.multi-info .corona-shield__content .corona-shield__worldStatus .worldStatus__content-item .item__count-red {
  color: #f64b3c;
}
.multi-info .corona-shield__content .corona-shield__worldStatus .worldStatus__content-item .item__status {
  color: #ffffff;
  font-size: 1.1rem;
  line-height: 16px;
}
@media only screen and (max-width: 1199px) {
  .multi-info .corona-shield__content .corona-shield__worldStatus .worldStatus__content-item .item__status {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1023px) {
  .multi-info .corona-shield__content .corona-shield__worldStatus .worldStatus__content-item .item__status {
    font-size: 1.1rem;
  }
}
.multi-info .corona-shield__content .corona-shield__worldStatus .worldStatus__content-item .item__status-blue {
  color: #1eb2a6;
}
.multi-info .corona-shield__content .corona-shield__worldStatus .worldStatus__content-item .item__status-blue svg path {
  fill: #1eb2a6;
}
.multi-info .corona-shield__content .corona-shield__worldStatus .worldStatus__content-item .item__status-red {
  color: #f64b3c;
}
.multi-info .corona-shield__content .corona-shield__worldStatus .worldStatus__content-item .item__status-red svg path {
  fill: #f64b3c;
}
.multi-info .corona-shield__content .corona-shield__VietNamStatus .VietNamStatus__header {
  margin-bottom: 14px;
}
.multi-info .corona-shield__content .corona-shield__VietNamStatus .VietNamStatus__header svg {
  margin-right: 8px;
}
.multi-info .corona-shield__content .corona-shield__VietNamStatus .VietNamStatus__header span {
  font-size: 1.3rem;
  line-height: 19px;
  color: #ffffff;
  font-weight: 700;
}
@media only screen and (max-width: 1199px) {
  .multi-info .corona-shield__content .corona-shield__VietNamStatus .VietNamStatus__header span {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1023px) {
  .multi-info .corona-shield__content .corona-shield__VietNamStatus .VietNamStatus__header span {
    font-size: 1.3rem;
  }
}
.multi-info .corona-shield__content .corona-shield__VietNamStatus .VietNamStatus__content {
  background: #fff;
  padding: 12px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.multi-info .corona-shield__content .corona-shield__VietNamStatus .VietNamStatus__content-number {
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 1023px) {
  .multi-info .corona-shield__content .corona-shield__VietNamStatus .VietNamStatus__content-number {
    justify-content: space-around;
  }
}
.multi-info .corona-shield__content .corona-shield__VietNamStatus .VietNamStatus__content-number .number__item:not(:last-child) {
  margin-right: 6px;
}
@media only screen and (max-width: 1199px) {
  .multi-info .corona-shield__content .corona-shield__VietNamStatus .VietNamStatus__content-number .number__item {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.multi-info .corona-shield__content .corona-shield__VietNamStatus .VietNamStatus__content-number .number__item .item__type {
  font-size: 1.2rem;
  line-height: 16px;
  color: #888;
  opacity: .5;
  margin-bottom: 4px;
}
.multi-info .corona-shield__content .corona-shield__VietNamStatus .VietNamStatus__content-number .number__item .item__number {
  font-size: 3rem;
  line-height: 36px;
  color: #111;
  font-weight: 700;
  text-align: center;
}
.multi-info .corona-shield__content .corona-shield__VietNamStatus .VietNamStatus__content-number .number__item .item__number-blue {
  color: #1eb2a6;
}
.multi-info .corona-shield__content .corona-shield__VietNamStatus .VietNamStatus__content-number .number__item .item__number-red {
  color: #f64b3c;
}
.multi-info .corona-shield__content .corona-shield__VietNamStatus .VietNamStatus__content-total .statics {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.multi-info .corona-shield__content .corona-shield__VietNamStatus .VietNamStatus__content-total .statics__text {
  font-size: 1.1rem;
  line-height: 16px;
  color: #888;
}
.multi-info .corona-shield__content .corona-shield__VietNamStatus .VietNamStatus__content-total .statics__number {
  font-size: 1.3rem;
  line-height: 16px;
  color: #333;
  font-weight: 700;
}

.handbook .handbook-carousel .owl-nav {
  position: absolute;
  top: -70px;
  right: 0;
}
.handbook .handbook-carousel .owl-nav .owl-prev,
.handbook .handbook-carousel .owl-nav .owl-next {
  border: 1px solid #cccccc !important;
  width: 26px;
  height: 26px;
  color: #999999;
  font-size: 1.6rem !important;
  outline: none;
  border-radius: 3px;
  margin: 5px;
  outline: none;
}
.handbook .handbook-carousel .owl-nav .owl-prev:hover,
.handbook .handbook-carousel .owl-nav .owl-next:hover {
  background-color: #028c8f;
  border: 1px solid #028c8f !important;
}
.handbook .handbook-carousel .owl-nav .owl-prev:hover:after,
.handbook .handbook-carousel .owl-nav .owl-next:hover:after {
  color: #ffffff !important;
}
.handbook .handbook-carousel .owl-nav .owl-prev span,
.handbook .handbook-carousel .owl-nav .owl-next span {
  display: none;
}
.handbook .handbook-carousel .owl-nav .owl-prev:after {
  content: "\f104";
  font-family: 'fontawesome';
  color: #999999;
}
.handbook .handbook-carousel .owl-nav .owl-next:after {
  content: "\f105";
  font-family: 'fontawesome';
  color: #999999;
}

.calendar {
  position: relative;
  overflow: hidden;
  color: #333333;
  background: #ffffff;
  font-size: 1.3rem;
  margin-bottom: 40px;
}
.calendar-ympicker {
  position: absolute;
  /*stop more years causing overflow*/
  min-height: 15em;
  padding: .5em .5em 1em;
  transform: translateY(-100%);
  /*Start offscreen*/
  transition: transform ease-in-out 0.2s;
  background: #ffffff;
  z-index: 2;
}
.calendar-ympicker-header {
  display: flex;
  justify-content: space-between;
}
.calendar-ympicker-header .today {
  cursor: pointer;
}
.calendar-ympicker-header .today:hover {
  color: #028c8f;
  font-weight: 700;
}
.calendar-ympicker-header .today i {
  margin-right: 5px;
}
.calendar-ympicker .close {
  text-align: right;
  border: 1px transparent solid;
  cursor: pointer;
}
.calendar-ympicker .close:hover {
  color: #028c8f;
}
.calendar-ympicker li {
  display: inline-block;
  line-height: 2em;
  border: 1px transparent solid;
  text-align: center;
  cursor: pointer;
}
.calendar-ympicker li:hover {
  border-color: #028c8f;
  color: #028c8f;
}
.calendar-ympicker-months {
  border-bottom: 1px solid #444;
}
.calendar-ympicker-months li {
  width: 30%;
}
.calendar-ympicker-years {
  overflow-x: scroll;
  white-space: nowrap;
  padding: 0.5em 0;
}
.calendar-ympicker-years::-webkit-scrollbar-thumb:hover {
  background: #028c8f;
}
.calendar-ympicker-years::-webkit-scrollbar {
  height: 8px;
}
.calendar-ympicker-years::-webkit-scrollbar-track {
  background-color: #555;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.calendar-ympicker-years::-webkit-scrollbar-thumb {
  background-color: #aaa;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.calendar-ympicker-years li {
  width: 25%;
}
.calendar-header {
  padding: .5em .5em 0 .5em;
  margin-bottom: .3em;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #cccccc;
  padding: 10px;
  cursor: pointer;
}
.calendar-header .arrow {
  position: absolute;
  width: 10%;
  top: 8px;
}
.calendar-header .arrow span {
  display: inline-block;
  transition: transform ease-in-out 0.2s;
}
.calendar-header .addmonth {
  right: 0.5em;
  text-align: right;
}
.calendar-days {
  padding: 0 .5em;
  /*Right and Left*/
  color: #333333;
}
.calendar-body li {
  float: left;
  width: -webkit-calc(100%/7);
  padding: .25em 0;
  border: 1px transparent solid;
  text-align: center;
  cursor: pointer;
}
.calendar-body li:hover {
  color: #cb0101;
}
.calendar-body .today {
  color: #cb0101;
}

/*Styles for dropdown*/
/*Years scroll bar*/
/*Styles for main part of calander*/
/*Dates*/
.calendar-days li {
  float: left;
  width: -webkit-calc(100%/7);
  padding: .25em 0;
  border: 1px transparent solid;
  text-align: center;
  cursor: pointer;
}

.footer__top {
  background-color: #eeeeee;
  border-top: 2px solid #028c8f;
  padding: 12px 0;
}
.footer__top-left a {
  color: #333333;
  font-size: 1.5rem;
}
@media only screen and (max-width: 424px) {
  .footer__top-left a {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 374px) {
  .footer__top-left a {
    font-size: 1.1rem;
  }
}
.footer__top-left a i {
  color: #666666;
  margin-right: 7px;
}
.footer__top-left a:hover {
  color: #028c8f;
}
.footer__top-left a:hover i {
  color: #028c8f;
}
.footer__top-right .backToTop {
  margin-right: 34px;
}
@media only screen and (max-width: 424px) {
  .footer__top-right .backToTop {
    margin-right: 20px;
  }
}
@media only screen and (max-width: 374px) {
  .footer__top-right .backToTop {
    margin-right: 10px;
  }
}
.footer__top-right a {
  color: #333333;
  font-size: 1.5rem;
}
@media only screen and (max-width: 424px) {
  .footer__top-right a {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 374px) {
  .footer__top-right a {
    font-size: 1.1rem;
  }
}
.footer__top-right a i {
  color: #666666;
  margin-right: 7px;
}
.footer__top-right a:hover {
  color: #028c8f;
}
.footer__top-right a:hover i {
  color: #028c8f;
}
.footer__bottom {
  padding: 21px 0 44px 0;
}
@media only screen and (max-width: 1023px) {
  .footer__bottom-left {
    margin-bottom: 20px;
  }
}
.footer__bottom-left h2 {
  font-size: 1.8rem;
  color: #028c8f;
  font-weight: 700;
  margin-bottom: 9px;
}
.footer__bottom-left p {
  font-size: 1.4rem;
  color: #333333;
  line-height: 1.5;
}
.footer__bottom-right {
  align-self: flex-end;
}
.footer__bottom-right .social-media {
  font-size: 1.5rem;
  margin-bottom: 21px;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 1023px) {
  .footer__bottom-right .social-media {
    justify-content: flex-start;
  }
}
.footer__bottom-right .social-media a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  text-align: right;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  margin-right: 3px;
}
.footer__bottom-right .social-media .facebook {
  background-color: #3b5998;
}
.footer__bottom-right .social-media .instagram {
  background-color: #405DE6;
}
.footer__bottom-right .social-media .twitter {
  background-color: #1DA1F2;
}
.footer__bottom-right .social-media .youtube {
  background-color: #FF0000;
}
.footer__bottom-right .analytics {
  margin-bottom: 16px;
  font-size: 1.4rem;
  text-align: right;
}
.footer__bottom-right .analytics i {
  color: #999999;
}
.footer__bottom-right .analytics span {
  color: #666666;
}
.footer__bottom-right .analytics .user {
  margin-right: 34px;
}
.footer__bottom-right .author {
  font-size: 1.4rem;
  text-align: right;
}
@media only screen and (max-width: 1023px) {
  .footer__bottom-right .author {
    text-align: left;
  }
}
.footer__bottom-right .author a {
  color: #3a599c;
  font-weight: 700;
}

.the_content h2, .the_content h3, .the_content h4 {
  font-weight: bold;
  color: #666;
  margin-bottom: 1rem;
}
.the_content h6 {
  font-size: 1.06em;
}
.the_content h5 {
  font-size: 1.2em;
}
.the_content h4 {
  font-size: 1.5em;
}
.the_content h3 {
  font-size: 1.7em;
}
.the_content h2 {
  font-size: 1.8em;
  line-height: 1.5;
}
.the_content p {
  color: #666;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.the_content ul {
  list-style: disc;
  padding-left: 18px;
  padding-bottom: 5px;
}
.the_content ul li {
  color: #666;
  line-height: 1.5;
  margin-bottom: 10px;
}
.the_content ul li a {
  color: #ff5912;
}
.the_content ol {
  list-style: decimal;
  padding-left: 18px;
  padding-bottom: 5px;
}
.the_content ol li {
  color: #666;
  line-height: 1.5;
  margin-bottom: 10px;
}
.the_content ol li a {
  color: #ff5912;
}
.the_content blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eb2b2d;
}
.the_content blockquote p {
  margin: 0 !important;
}
.the_content code {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  font-size: .85rem;
  color: #e83e8c;
}
.the_content table > tbody > tr > td, .the_content table > tbody > tr > th, .the_content table > tfoot > tr > td, .the_content table > tfoot > tr > th, .the_content table > thead > tr > td, .the_content table > thead > tr > th {
  border: 1px solid #ddd;
  padding: 7px 10px;
}
.the_content iframe {
  margin: auto;
}
.the_content .syntaxhighlighter {
  padding: 10px 0;
}

/*04 keyframes */
@keyframes namdz {
  0% {
    animation: namdz 1s infinite ease-in-out;
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    transform: rotate(0) scale(1) skew(1deg);
  }
}
.blog-vertical-s {
  display: flex;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid #E9E9E9;
}
.blog-vertical-s.sm-pd {
  padding-bottom: unset;
  margin-bottom: 20px;
}
.blog-vertical-s:last-child {
  border-bottom: unset;
}
.blog-vertical-s .box-images {
  flex: 0 0 32%;
}
.blog-vertical-s .box-text {
  flex: 0 0 68%;
  padding-left: 23px;
}
.blog-vertical-s .box-text .date span {
  color: #999999;
  font-size: 14px;
}
.blog-vertical-s .box-text .title {
  padding-top: 18px;
}
.blog-vertical-s .box-text .title.sm-title {
  padding-top: 10px;
}
.blog-vertical-s .box-text .title.sm-title a {
  font-size: 16px;
  height: 47px;
}
.blog-vertical-s .box-text .title a {
  font-size: 18px;
  color: #333333;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  height: 53px;
  transition: .3s ease-out;
}
.blog-vertical-s .box-text .title a:hover {
  color: #028C8F;
}
.blog-vertical-s .box-text .desc {
  padding-top: 16px;
}
.blog-vertical-s .box-text .desc span {
  font-size: 15px;
  color: #333333;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  height: 68px;
  font-weight: 400;
}

.breadCrumb .breadCrumb__inner-home.current-inner {
  padding-left: 25px;
  margin-left: -10px;
  z-index: 1;
}
.breadCrumb .breadCrumb__inner-home.current-inner::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 100%;
  clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
  z-index: 0;
  left: 0;
  top: 0;
  background: #fff;
}
.breadCrumb .breadCrumb__inner-home.current-inner:last-child {
  z-index: -1;
}
.breadCrumb .breadCrumb__inner-home.current-inner:last-child::before {
  z-index: -1;
}

.swtich-pages ul {
  display: flex;
  flex-wrap: wrap;
}
.swtich-pages ul li {
  margin-right: 10px;
}
.swtich-pages ul li:last-child {
  margin-right: unset;
}
.swtich-pages ul li.active a {
  color: #fff;
  background: #009999;
}
.swtich-pages ul li a {
  display: block;
  padding: 8px 13px;
  background: #F2F2F2;
  color: #666666;
  transition: .3s ease-out;
  border-radius: 5px;
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 15px;
}
.swtich-pages ul li a:hover {
  color: #fff;
  background: #009999;
}

.sing-verti-box .list-blogs {
  border-top: 1px solid #028C90;
  padding-top: 30px;
  margin-top: 20px;
}
.sing-verti-box .subscribe {
  margin-top: 25px;
}

.head-of-detail .detail-title {
  padding-top: 35px;
  margin-bottom: 15px;
}
.head-of-detail .detail-title .title-in {
  font-size: 27px;
  color: #028c90;
  font-weight: 600;
}
.head-of-detail .the_content {
  font-size: 15px;
  padding: 30px 0px;
  transition: .2s;
}
.head-of-detail .sub-to-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: 30px;
}
.head-of-detail .sub-to-title .date {
  display: flex;
}
.head-of-detail .sub-to-title .date p {
  font-size: 14px;
  color: #ACACAC;
  font-weight: normal;
  display: inline-block;
}
.head-of-detail .sub-to-title .date p:last-child {
  margin-left: 15px;
}
.head-of-detail .sub-to-title .date p:last-child::before {
  content: "\f06e";
  font-family: "fontawesome";
  padding-right: 5px;
}
.head-of-detail .sub-to-title .action {
  display: flex;
  align-items: center;
}
.head-of-detail .sub-to-title .plus-font-size {
  margin-right: 6px;
}
.head-of-detail .sub-to-title .plus-font-size label {
  font-size: 14px;
  color: #9999;
  padding-right: 10px;
}
.head-of-detail .sub-to-title .plus-font-size button {
  border: none;
  outline: none;
  background: #F2F2F2;
  color: #9B9B9B;
  font-size: 16px;
  transition: .3s ease-out;
}
.head-of-detail .sub-to-title .plus-font-size button:hover {
  background: #028C8F;
  color: #fff;
}

.share-box-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;
  padding: 15px 0px;
}
.share-box-content .left-content a {
  display: inline-block;
  font-size: 14px;
  color: #999;
  margin-right: 8px;
  transition: .3s ease-out;
}
.share-box-content .left-content a:hover {
  color: #028C90;
}
.share-box-content .left-content a::before {
  font-family: "fontawesome";
  padding-right: 5px;
}
.share-box-content .left-content a:nth-child(1)::before {
  content: "\f104";
}
.share-box-content .left-content a:nth-child(2)::before {
  content: "\f0e0";
}
.share-box-content .left-content a:nth-child(3)::before {
  content: "\f1ea";
}

.related-blogs .title-related {
  border-bottom: 1px solid #F1F1F1;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.related-blogs .title-related h3 {
  font-size: 24px;
  font-weight: bold;
}

.comments-box {
  background: #F9F9F9;
  padding: 30px;
  margin: 64px 0px;
}
.comments-box .title-comments {
  padding-bottom: 20px;
}
.comments-box .title-comments h3 {
  font-size: 24px;
  font-weight: bold;
}
.comments-box .flex-channel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}
.comments-box .flex-channel label {
  display: block;
  flex: 0 0 20%;
  font-size: 16px;
  font-weight: bold;
}
.comments-box .flex-channel .ip-box {
  flex: 0 0 80%;
}
.comments-box .flex-channel input {
  height: 40px;
}
.comments-box .flex-channel textarea {
  height: 150px;
}
.comments-box .flex-channel button {
  border: none;
  outline: none;
  background: #028C90;
  color: #fff;
  padding: 10px 26px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  transition: .3s ease-out;
}
.comments-box .flex-channel button:hover {
  background: #005658;
}
@media only screen and (max-width: 576px) {
  .comments-box .flex-channel {
    flex-direction: column;
    align-items: flex-start;
  }
  .comments-box .flex-channel label {
    flex: 0 0 100%;
  }
  .comments-box .flex-channel .ip-box {
    flex: 0 0 100%;
    width: 100%;
  }
}

.main-libary-images .hospitalImage .section__title {
  margin-bottom: 25px;
}
.main-libary-images .swtich-pages {
  padding-bottom: 25px;
}
