@keyframes show_box_hd {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%) scale(0.7);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) scale(1);
    }
}