.breadCrumb {
    margin-bottom: 20px;
    &__inner {
        padding: 11px 0 6px 0;
        border-bottom: 1px solid $dede;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-left {
            display: flex;
            align-items: center;
            .breadCrumb__inner-home {
                background-color: $eee;
                padding: 5px 17px 5px 10px;
                position: relative;
                z-index: 2;
                font-size: 1.5rem;
                color: #666666;
                clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%, 0 50%);
                
                &:first-child{
                    border-left: 2px solid $dede;
                }

                
                @include breakpoint(374) {
                    font-size: 1.3rem;
                }
            }
            .breadCrumb__inner-datetime {
                font-size: 1.5rem;
                @include breakpoint(767) {
                    font-size: 1.4rem;
                }
                @include breakpoint(374) {
                    font-size: 1.2rem;
                }
            }
        }
        &-right {
            p {
                font-size: 1.5rem;
                color: $primary-color;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
}