// Black overlay in news item
.overlay-text {
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 105, 106, 0.0007353283110118625) 100%);
    bottom: 0;
    left: 0;
    height: 40%;
    width: 100%;
    @include breakpoint(1023) {
        height: 60%;
    }
}

// Section title
.section__title {
    padding: 15px 0;
    margin-bottom: 19px;
    border-bottom: 2px solid $d6;
    font-size: 2.4rem;
    font-weight: 700;
    @include breakpoint(1199) {
        font-size: 2.3rem;
    }
    @include breakpoint(374) {
        font-size: 1.7rem;
    }
    i {
        color: $primary-color;
    }
}

// Section title white
.section__title--white {
    color: $white;
}

// Section title blue
.section__title--blue {
    color: $primary-color;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        width: 50px;
        height: 2px;
        background-color: $primary-color;
        bottom: -2px;
        left: 0;
    }
}

// Section title black
.section__title--black {
    color: $_333;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        width: 50px;
        height: 2px;
        background-color: $primary-color;
        bottom: -2px;
        left: 0;
    }
}

// Ads left and right
// .divAdRight,
// .divAdLeft {
//     @include breakpoint(1199) {
//         display: none;
//     }
// }
// Ads in right sidebar
.qc{
    @include breakpoint(767) {
        display: none;
    }
}

// Fit img
.item__img {
    height: 100%;
    img {
        min-height: 100%;
        object-fit: cover;
    }
}

// General Horizontal news
.horizontal__news {
    margin-bottom: 25px;
    @include breakpoint(1023) {
        margin-bottom: 15px;
    }
    &-img {
        height: 100%;
        img {
            min-height: 100%;
            object-fit: cover;
        }
    }
    &-date {
        font-size: 1.4rem;
        color: #999999;
        margin-bottom: 13px;
        &--lightBlue {
            color: $light-blue!important;
        }
    }
    &-title {
        font-size: 1.5rem;
        font-weight: 700;
        @include breakpoint(374) {
            font-size: 1.3rem;
        }
        a {
            @include truncate(2);
            color: $_333;
            &:hover {
                color: $primary-color;
            }
        }
        &--white {
            color: $white!important;
            a {
                color: $white!important;
                &:hover {
                    color: $light-blue!important;
                }
            }
        }
    }
}

// General Vertical news
.vertical__news {
    margin-bottom: 30px;
    &-img {
        margin-bottom: 24px;
        @include breakpoint(1023) {
            margin-bottom: 15px;
        }
    }
    &-date {
        font-size: 1.4rem;
        color: $_999;
        margin-bottom: 10px;
    }
    &-title {
        font-size: 2rem;
        color: $_333;
        font-weight: 700;
        margin-bottom: 15px;
        @include breakpoint(1023) {
            margin-bottom: 10px;
        }
        @include breakpoint(767) {
            font-size: 1.8rem;
        }
        a {
            color: $_333;
            &:hover {
                color: $primary-color;
            }
        }
    }
    &-desc {
        font-size: 1.5rem;
        color: $_333;
        font-weight: 400;
        margin-bottom: 19px;
        @include truncate(4);
    }
    &-link {
        display: block;
        max-width: 170px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 5px;
        background-color: $primary-color;
        color: $white;
        font-size: 1.5rem;
        font-weight: 700;
        &:hover {
            color: $white;
        }
    }
}