// =============== Font =================//
$poppins: 'Poppins',
sans-serif;
// =============== Color ================= //
$facebook:#3b5998;
$twitter:#1DA1F2;
$instagram:#405DE6;
$youtube:#FF0000;
$linkedin:#2867B2;
$white:#ffffff;
$black:#000;
$primary-color:#028c8f;
$secondary-color:#016a6d;
$light-blue:#67fffe;
$ccc:#cccccc;
$eee :#eeeeee;
$dede:#dedede;
$fefe:#fefefe;
$d6:#d6d6d6;
$ff2:#ff2d2e;
$_333:#333333;
$_3232: #323232;
$_999:#999999;
$_666:#666666;