.footer {
    &__top {
        background-color: $eee;
        border-top: 2px solid $primary-color;
        padding: 12px 0;
        &-left {
            a {
                color: $_333;
                font-size: 1.5rem;
                @include breakpoint(424) {
                    font-size: 1.3rem;
                }
                @include breakpoint(374) {
                    font-size: 1.1rem;
                }
                i {
                    color: $_666;
                    margin-right: 7px;
                }
                &:hover {
                    color: $primary-color;
                }
                &:hover i {
                    color: $primary-color;
                }
            }
        }
        &-right {
            .backToTop {
                margin-right: 34px;
                @include breakpoint(424) {
                    margin-right: 20px;
                }
                @include breakpoint(374) {
                    margin-right: 10px;
                }
            }
            a {
                color: $_333;
                font-size: 1.5rem;
                @include breakpoint(424) {
                    font-size: 1.3rem;
                }
                @include breakpoint(374) {
                    font-size: 1.1rem;
                }
                i {
                    color: $_666;
                    margin-right: 7px;
                }
                &:hover {
                    color: $primary-color;
                }
                &:hover i {
                    color: $primary-color;
                }
            }
        }
    }
    &__bottom {
        padding: 21px 0 44px 0;
        &-left {
            @include breakpoint(1023) {
                margin-bottom: 20px;
            }
            h2 {
                font-size: 1.8rem;
                color: $primary-color;
                font-weight: 700;
                margin-bottom: 9px;
            }
            p {
                font-size: 1.4rem;
                color: $_333;
                line-height: 1.5;
            }
        }
        &-right {
            align-self: flex-end;
            .social-media {
                font-size: 1.5rem;
                margin-bottom: 21px;
                display: flex;
                justify-content: flex-end;
                @include breakpoint(1023) {
                    justify-content: flex-start;
                }
                a {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: block;
                    text-align: right;
                    color: $white;
                    text-align: center;
                    line-height: 30px;
                    margin-right: 3px;
                }
                .facebook {
                    background-color: $facebook;
                }
                .instagram {
                    background-color: $instagram;
                }
                .twitter {
                    background-color: $twitter;
                }
                .youtube {
                    background-color: $youtube;
                }
            }
            .analytics {
                margin-bottom: 16px;
                font-size: 1.4rem;
                text-align: right;
                i {
                    color: $_999;
                }
                span {
                    color: $_666;
                }
                .user {
                    margin-right: 34px;
                }
            }
            .author {
                font-size: 1.4rem;
                text-align: right;
                @include breakpoint(1023) {
                    text-align: left;
                }
                a {
                    color: #3a599c;
                    font-weight: 700;
                }
            }
        }
    }
}