.header {
    &__top {
        background-color: $eee;
        padding: 7px 0;
        &-contact {
            display: flex;
            align-items: center;
            a {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                font-size: 1.3rem;
                text-decoration: none;
                margin-right: 7px;
                i {}
            }
            .facebook {
                background-color: $facebook;
                color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .youtube {
                color: $white;
                background-color: $youtube;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .phone {
                display: flex;
                align-items: center;
                &-icon {
                    color: $primary-color;
                    border: 1px solid $primary-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    &:after {
                        content: '';
                        position: absolute;
                        width: 4px;
                        height: 4px;
                        bottom: 0;
                        right: 0;
                        background-color: $eee;
                        border-right: 1px solid $primary-color;
                        border-bottom: 1px solid $primary-color;
                    }
                }
                p {
                    font-weight: 700;
                    margin-right: 5px;
                    font-size: 1.4rem;
                }
                &-number {
                    font-weight: 700;
                    color: $primary-color;
                    font-size: 1.4rem;
                }
            }
        }
        &-location {
            p {
                font-size: 1.4rem;
                @include breakpoint(1199) {
                    font-size: 1.2rem;
                }
            }
        }
    }
    &__mid {
        padding: 15px 0 35px 0;
        .header__logo {
            // Empty
        }
        &-advice {
            a {
                display: block;
                min-width: 200px;
                width: max-content;
                height: 40px;
                color: $white;
                text-transform: uppercase;
                font-size: 1.8rem;
                text-decoration: none;
                text-align: center;
                line-height: 40px;
                background: linear-gradient(0deg, rgba(255, 39, 40, 1) 0%, rgba(255, 105, 106, 1) 100%);
                border: 1px solid #e80000;
                border-radius: 5px;
                float: right;
                @include breakpoint(767) {
                    min-width: 130px;
                    font-size: 1.2rem;
                }
            }
        }
    }
    &__main {
        background-color: $primary-color;
        border-bottom: 2px solid $secondary-color;
        height: 47px;
        nav {
            .header__main-home {
                a {
                    background-color: $secondary-color;
                    padding: 16px 11px;
                    i {
                        font-size: 1.5rem;
                        color: $white;
                    }
                }
            }
            ul {
                display: flex;
                li {
                    &:hover a {
                        background-color: $secondary-color;
                    }
                    a {
                        color: $white;
                        font-size: 1.5rem;
                        text-transform: uppercase;
                        padding: 11.5px 20px;
                        font-weight: 500;
                        @include breakpoint(1199) {
                            padding: 20px 10px;
                        }
                    }
                }
            }
        }
        .header__btn {
            .hamburger {
                cursor: pointer;
                color: $white;
                font-size: 1.5rem;
                line-height: 46px;
                .icon-mobile {
                    svg {
                        fill: $white;
                    }
                }
            }
            .search {
                cursor: pointer;
                margin-right: 10px;
                font-size: 1.5rem;
                line-height: 46px;
                svg {
                    fill: $white;
                }
            }
        }
    }
}

// Style for Menu Mobile
.nav-wrapper {
    background-color: $primary-color!important;
    ul {
        background-color: $primary-color!important;
        li {
            a {
                font-size: 1.8rem!important;
                color: $white!important;
                font-family: $poppins!important;
                border-bottom: 1px solid #e5e5e5!important;
                @include breakpoint(424) {
                    font-size: 1.6rem!important;
                    padding: 12px 17px;
                }
                &:hover {
                    background-color: $primary-color;
                }
            }
            h2 {
                font-family: sb;
                color: $white;
            }
            .menuMobile__submenu {
                background-color: $primary-color!important;
                .nav-back {
                    a {
                        background-color: $primary-color!important;
                        border-bottom: 1px solid #e5e5e5!important;
                        border-top: 1px solid #e5e5e5!important;
                        font-family: $poppins;
                        font-size: 1.8rem;
                        @include breakpoint(424) {
                            font-size: 1.6rem!important;
                            padding: 12px 17px;
                        }
                    }
                }
                .menuMobile__submenu-item {
                    a {
                        font-size: 1.8rem!important;
                        color: $white!important;
                        font-family: $poppins!important;
                        border-bottom: 1px solid #e5e5e5!important;
                        @include breakpoint(424) {
                            font-size: 1.6rem!important;
                            padding: 12px 17px;
                        }
                    }
                }
            }
        }
        .nav-close {
            a {
                background-color: $primary-color!important;
                border-bottom: 1px solid #e5e5e5!important;
                border-top: 1px solid #e5e5e5!important;
                span {
                    &:before {
                        display: none;
                    }
                    &:after {
                        content: "\f00d"!important;
                        font-family: 'fontawesome';
                        border: none;
                        transform: rotate(0);
                        font-size: 2rem;
                        top: 3px;
                    }
                }
            }
        }
    }
}

// Show Box Search
.box-search_header {
    position: fixed;
    top: 30%;
    left: 50%;
    transition: .3s ease-in-out;
    animation: show_box_hd .5s forwards;
    text-align: center;
    z-index: 9999;
    display: none;
    background-color: $white;
    padding: 20px;
    border-radius: 5px;
    &.active_show {
        display: block;
    }
    @keyframes show_box_hd {
        0% {
            opacity: 0;
            visibility: hidden;
            transform: translateX(-50%) scale(0.7);
        }
        100% {
            opacity: 1;
            visibility: visible;
            transform: translateX(-50%) scale(1);
        }
    }
    label {
        font-size: 35px;
        font-weight: 700;
        text-transform: capitalize;
        padding-bottom: 20px;
        color: $primary-color;
    }
    form {
        display: flex;
        @include breakpoint(768) {
            width: 80vw;
        }
        input {
            border: none;
            outline: none;
            width: 400px;
            height: 40px;
            padding-left: 10px;
            border: 1px solid $primary-color;
            font-size: 1.5rem;
            @include breakpoint(768) {
                width: 100%;
            }
        }
        button {
            width: 40px;
            background: $primary-color;
            color: #fff;
            border: none;
            outline: none;
            font-size: 1.5rem;
        }
    }
}

.over-lay-mb {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.8);
    z-index: 9995;
    display: none;
    &.overlay-open {
        display: block;
    }
}