.activity {
    margin-bottom: 27px;
    &__inner {
        @include breakpoint(767) {
            margin-bottom: 20px;
        }
        .activity-carousel {
            height: 100%;
            .owl-stage-outer {
                height: 100%;
                .owl-stage {
                    height: 100%;
                    .owl-item {
                        height: 100%;
                    }
                }
            }
            
            .owl-nav {
                position: absolute;
                top: -65px;
                right: -108%;
                .owl-prev,
                .owl-next {
                    border: 1px solid #cccccc !important;
                    width: 26px;
                    height: 26px;
                    color: #999999;
                    font-size: 1.6rem !important;
                    outline: none;
                    border-radius: 3px;
                    margin: 5px;
                    &:hover {
                        background-color: $primary-color;
                        border: 1px solid $primary-color!important;
                    }
                    &:hover:after {
                        color: $white!important;
                    }
                    span {
                        display: none;
                    }
                    outline: none;
                }
                .owl-prev {
                    &:after {
                        content: "\f104";
                        font-family: 'fontawesome';
                        color: $_999;
                    }
                }
                .owl-next {
                    &:after {
                        content: "\f105";
                        font-family: 'fontawesome';
                        color: $_999;
                    }
                }
            }
        }
    }
    &__notification {
        border: 1px solid $ff2;
        border-bottom: 9px solid $ff2;
        &-head {
            padding: 20px 16px;
            background-color: $ff2;
            font-size: 2rem;
            color: $white;
            font-weight: 700;
            @include breakpoint(374) {
                font-size: 1.7rem;
            }
        }
        &-content {
            padding: 33px 19px;
            @include breakpoint(1199) {
                padding: 33px 10px;
            }
        }
    }
}

.activity__item {
    height: 670px;
    
    @include breakpoint(768) {
        &{
            height: 350px;
        }
    }
    &-main {
        position: relative;
        height: 100%;
        img {
            height: 100%;
            object-fit: cover;
        }
        .activity__item-content {
            position: absolute;
            bottom: 0;
            z-index: 9;
            color: $white;
            padding: 26px 23px;
            .activity__date {
                font-size: 1.5rem;
                margin-bottom: 20px;
                @include breakpoint(767) {
                    margin-bottom: 10px;
                }
            }
            .activity__title {
                font-weight: 700;
                font-size: 2rem;
                margin-bottom: 12px;
                @include truncate(2);
                @include breakpoint(1023) {
                    @include truncate(4)
                }
                @include breakpoint(767) {
                    @include truncate(2);
                    font-size: 1.8rem;
                }
                @include breakpoint(374) {
                    @include truncate(2);
                    font-size: 1.6rem;
                }
                a {
                    color: $white;
                }
            }
            .activity__desc {
                font-size: 1.5rem;
                @include truncate(2);
                @include breakpoint(1023) {
                    @include truncate(3)
                }
                @include breakpoint(767) {
                    @include truncate(2)
                }
                @include breakpoint(374) {
                    font-size: 1.4rem;
                }
            }
        }
    }
}