.calendar {
    position: relative;
    overflow: hidden;
    color: $_333;
    background: $white;
    font-size: 1.3rem;
    margin-bottom: 40px;
    &-ympicker {
        position: absolute;
        /*stop more years causing overflow*/
        min-height: 15em;
        padding: .5em .5em 1em;
        transform: translateY(-100%);
        /*Start offscreen*/
        transition: transform ease-in-out 0.2s;
        background: $white;
        z-index: 2;
        &-header {
            display: flex;
            justify-content: space-between;
            .today {
                cursor: pointer;
                &:hover {
                    color: $primary-color;
                    font-weight: 700;
                }
                i {
                    margin-right: 5px;
                }
            }
        }
        .close {
            text-align: right;
            border: 1px transparent solid;
            cursor: pointer;
            &:hover {
                color: $primary-color;
            }
        }
        li {
            display: inline-block;
            line-height: 2em;
            border: 1px transparent solid;
            text-align: center;
            cursor: pointer;
            &:hover {
                border-color: $primary-color;
                color: $primary-color;
            }
        }
        &-months {
            border-bottom: 1px solid #444;
        }
        &-months li {
            width: 30%;
        }
        &-years {
            overflow-x: scroll;
            white-space: nowrap;
            padding: 0.5em 0;
            &::-webkit-scrollbar-thumb {
                &:hover {
                    background: $primary-color;
                }
            }
            &::-webkit-scrollbar {
                height: 8px;
            }
            &::-webkit-scrollbar-track {
                background-color: #555;
                -webkit-border-radius: 10px;
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #aaa;
                -webkit-border-radius: 10px;
                border-radius: 10px;
            }
        }
        &-years li {
            width: 25%;
        }
    }
    &-header {
        padding: .5em .5em 0 .5em;
        margin-bottom: .3em;
        color: $_333;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $ccc;
        padding: 10px;
        cursor: pointer;
        .arrow {
            position: absolute;
            width: 10%;
            top: 8px;
            span {
                display: inline-block;
                transition: transform ease-in-out 0.2s;
            }
        }
        .addmonth {
            right: 0.5em;
            text-align: right;
        }
    }
    &-days {
        padding: 0 .5em;
        /*Right and Left*/
        color: $_333;
    }
    &-body {
        li {
            float: left;
            width: -webkit-calc(100%/7);
            padding: .25em 0;
            border: 1px transparent solid;
            text-align: center;
            cursor: pointer;
            &:hover {
                color: #cb0101;
            }
        }
        .today {
            color: #cb0101;
        }
    }
}


/*Styles for dropdown*/


/*Years scroll bar*/


/*Styles for main part of calander*/


/*Dates*/

.calendar-days li {
    float: left;
    width: -webkit-calc(100%/7);
    padding: .25em 0;
    border: 1px transparent solid;
    text-align: center;
    cursor: pointer;
}