.handbook {
    .handbook-carousel {
        &__item {}
        .owl-nav {
            position: absolute;
            top: -70px;
            right: 0;
            .owl-prev,
            .owl-next {
                border: 1px solid #cccccc !important;
                width: 26px;
                height: 26px;
                color: #999999;
                font-size: 1.6rem !important;
                outline: none;
                border-radius: 3px;
                margin: 5px;
                &:hover {
                    background-color: $primary-color;
                    border: 1px solid $primary-color!important;
                }
                &:hover:after {
                    color: $white!important;
                }
                span {
                    display: none;
                }
                outline: none;
            }
            .owl-prev {
                &:after {
                    content: "\f104";
                    font-family: 'fontawesome';
                    color: $_999;
                }
            }
            .owl-next {
                &:after {
                    content: "\f105";
                    font-family: 'fontawesome';
                    color: $_999;
                }
            }
        }
    }
}