.hospitalImage {
    margin-bottom: 24px;
    &-carousel {
        
        .owl-nav {
            position: absolute;
            top: -65px;
            right: 0;
            .owl-prev,
            .owl-next {
                border: 1px solid $ccc!important;
                width: 26px;
                height: 26px;
                color: $_999;
                font-size: 1.6rem!important;
                margin: 0 5px;
                border-radius: 3px;
                &:hover {
                    background-color: $primary-color;
                    border: 1px solid $primary-color!important;
                }
                &:hover:after {
                    color: $white!important;
                }
                span {
                    display: none;
                }
                outline: none;
            }
            .owl-prev {
                &:after {
                    content: "\f104";
                    font-family: 'fontawesome';
                    color: $_999;
                }
            }
            .owl-next {
                &:after {
                    content: "\f105";
                    font-family: 'fontawesome';
                    color: $_999;
                }
            }
        }
    }
}

.hospitalVideo {
    margin-bottom: 50px;
    &-carousel {
        margin-bottom: 30px;
        .hospitalVideo__img {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: $_333;
                opacity: 0.5;
            }
            .fa-play-circle {
                position: absolute;
                top: 50%;
                left: 50%;
                font-size: 8rem;
                color: $white;
                transform: translateX(-50%) translateY(-50%);
                z-index: 9;
                @include breakpoint(767) {
                    font-size: 7rem;
                }
            }
            .hospitalVideo__text {
                position: absolute;
                bottom: 28px;
                left: 25px;
                z-index: 10;
                color: $fefe!important;
                @include breakpoint(767) {
                    bottom: 10px;
                }
                &-date {
                    font-size: 1.6rem;
                    margin-bottom: 10px;
                    @include breakpoint(767) {
                        margin-bottom: 0;
                    }
                }
                &-title {
                    font-size: 2.4rem;
                    font-weight: 700;
                    a {
                        color: $white;
                    }
                    @include truncate(1);
                    @include breakpoint(767) {
                        font-size: 1.6rem;
                    }
                }
            }
        }
        .owl-nav {
            position: absolute;
            top: -80px;
            right: 0;
            .owl-prev,
            .owl-next {
                border: 1px solid $ccc!important;
                width: 26px;
                height: 26px;
                color: $_999;
                font-size: 1.6rem!important;
                &:hover {
                    background-color: $primary-color;
                    border: 1px solid $primary-color!important;
                }
                &:hover:after {
                    color: $white!important;
                }
                span {
                    display: none;
                }
                outline: none;
            }
            .owl-prev {
                &:after {
                    content: "\f104";
                    font-family: 'fontawesome';
                    color: $_999;
                }
            }
            .owl-next {
                &:after {
                    content: "\f105";
                    font-family: 'fontawesome';
                    color: $_999;
                }
            }
        }
    }
    &__list {
        &-item {
            .item__img {
                position: relative;
                margin-bottom: 20px;
                @include breakpoint(1023) {
                    margin-bottom: 10px;
                }
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: $_333;
                    opacity: 0.5;
                }
                .fa-play-circle {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    font-size: 8rem;
                    color: $white;
                    transform: translateX(-50%) translateY(-50%);
                    z-index: 9;
                    @include breakpoint(1023) {
                        font-size: 5rem;
                    }
                    @include breakpoint(767) {
                        font-size: 3rem;
                    }
                }
            }
            .item__text {
                &-date {
                    font-size: 1.4rem;
                    color: $_999;
                    margin-bottom: 10px;
                    @include breakpoint(1023) {
                        margin-bottom: 5px;
                    }
                    @include breakpoint(767) {
                        font-size: 1.2rem;
                    }
                }
                &-title {
                    font-size: 1.6rem;
                    a {
                        color: $_333;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                    font-weight: 700;
                    @include truncate(2);
                    @include breakpoint(1023) {
                        font-size: 1.4rem;
                    }
                    @include breakpoint(767) {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}


.hospitalImage__item {
    margin-bottom: 20px;
    .hospitalImage__image {
        margin-bottom: 24px;
        position: relative;
        max-width: 100%;
        height: 310px;
        
        &.height-two-s{
            height: 215px;
        }

        // @include breakpoint(768){
        //     height: auto;
        // }

        img{
            width: 100%;
            height: 100%;
            vertical-align: middle;
            object-fit: cover;
        }
        &:after {
            position: absolute;
            content: "\f03e";
            font-family: fontawesome;
            right: 10px;
            bottom: 15px;
            font-size: 1.8rem;
            color: $white;
        }
    }
    .hospitalImage__title {
        font-size: 1.7rem;
        font-weight: 700;
        @include truncate(2);
        a {
            color: $_333;
            &:hover {
                color: $primary-color;
            }
        }
    }
}