.info {
    margin-bottom: 25px;
    .info__inner {
        background-color: $primary-color;
        padding: 20px 30px;
        .info__epidemic {
            &-carousel {
                margin-bottom: 25px;
                .info__epidemic-item {
                    margin-bottom: 20px;
                    .info__epidemic-img {
                        height: 100%;
                        img {
                            min-height: 100%;
                            object-fit: cover;
                        }
                        @include breakpoint(767) {
                            margin-bottom: 15px;
                        }
                    }
                    .info__epidemic-text {
                        .info__epidemic-date {
                            font-size: 1.4rem;
                            color: $white;
                            margin-bottom: 25px;
                            @include breakpoint(767) {
                                margin-bottom: 10px;
                            }
                        }
                        .info__epidemic-title {
                            font-size: 2.4rem;
                            font-weight: 700;
                            margin-bottom: 20px;
                            @include breakpoint(767) {
                                margin-bottom: 10px;
                                font-size: 2rem;
                            }
                            @include breakpoint(374) {
                                font-size: 1.8rem;
                            }
                            a {
                                color: $white;
                                &:hover {
                                    color: $light-blue;
                                }
                            }
                        }
                        .info__epidemic-desc {
                            font-size: 1.5rem;
                            color: $white;
                            @include truncate(3);
                            margin-bottom: 35px;
                            @include breakpoint(767) {
                                margin-bottom: 20px;
                            }
                            @include breakpoint(374) {
                                font-size: 1.3rem;
                            }
                        }
                        .info__epidemic-link {
                            display: block;
                            max-width: 170px;
                            text-align: center;
                            line-height: 40px;
                            background-color: $white;
                            border-radius: 5px;
                            font-size: 1.5rem;
                            color: $black;
                            font-weight: 700;
                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }
                .owl-nav {
                    position: absolute;
                    top: -80px;
                    right: 0;
                    .owl-prev,
                    .owl-next {
                        border: 1px solid $ccc;
                        width: 26px;
                        height: 26px;
                        color: white;
                        font-size: 1.6rem;
                        &:hover {
                            background-color: $light-blue;
                            border: 1px solid $light-blue!important;
                        }
                        span {
                            display: none;
                        }
                        outline: none;
                    }
                    .owl-prev {
                        &:after {
                            content: "\f104";
                            font-family: 'fontawesome';
                        }
                    }
                    .owl-next {
                        &:after {
                            content: "\f105";
                            font-family: 'fontawesome';
                        }
                    }
                }
            }
        }
    }
    .info__right {
        @include breakpoint(1023) {
            display: flex;
        }
        .ads {
            @include breakpoint(1023) {
                margin-left: 10px;
            }
        }
    }
}