.multi-info {
    margin-bottom: 24px;
    .section__title {
        i {
            color: $primary-color;
            margin-right: 5px;
        }
    }
    &__list {}
    .subscribe {
        @include breakpoint(1023) {
            margin-top: 20px;
        }
        .multi-info__form {
            display: flex;
            margin-bottom: 30px;
            input {
                height: auto;
                padding: 10px;
                border: 1px solid $ccc;
                border-radius: unset;
                font-size: 1.4rem;
                color: $_333;
                &:focus {
                    box-shadow: none;
                    border: 1px solid $primary-color;
                }
                &::placeholder {
                    color: $_333;
                    font-size: 1.4rem;
                }
            }
            button {
                background-color: $primary-color;
                border-radius: unset;
                color: $white;
                font-size: 1.4rem;
                font-weight: 700;
                &:hover {
                    color: $white;
                }
            }
        }
    }
    .corona-shield {
        background: #333;
        border: 1px solid #111;
        overflow: hidden;
        border-radius: 4px;
        &__header {
            background-color: #222;
            height: 40px;
            background: #222;
            padding-left: 15px;
            .header__left {
                .lotus-logo {
                    width: 20px;
                    margin-right: 7px;
                }
                span {
                    color: $white;
                    font-size: 1.3rem;
                    font-weight: 700;
                    @include breakpoint(1199) {
                        font-size: 0.8rem;
                    }
                    @include breakpoint(1023) {
                        font-size: 1.3rem;
                    }
                }
            }
            .header__right {}
        }
        &__content {
            padding: 14px;
            .corona-shield-update {
                font-size: 1.2rem;
                line-height: 13px;
                margin-bottom: 16px;
                color: $white;
                opacity: .3;
            }
            .corona-shield__worldStatus {
                padding-bottom: 20px;
                border-bottom: 1px dashed rgba(255, 255, 255, .1);
                margin-bottom: 20px;
                .worldStatus__header {
                    margin-bottom: 14px;
                    svg {
                        margin-right: 8px;
                    }
                    span {
                        font-size: 1.3rem;
                        line-height: 19px;
                        color: $white;
                        font-weight: 700;
                        @include breakpoint(1199) {
                            font-size: 1.2rem;
                        }
                        @include breakpoint(1023) {
                            font-size: 1.3rem;
                        }
                    }
                }
                .worldStatus__content {
                    &-item {
                        background: rgba(255, 255, 255, .05);
                        box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
                        border-radius: 4px;
                        padding: 10px 10px 12px;
                        margin-bottom: 12px;
                        @include breakpoint(1199) {
                            padding: 5px;
                        }
                        @include breakpoint(1023) {
                            padding: 10px 12px;
                        }
                        .item__type {
                            font-size: 1.3rem;
                            line-height: 16px;
                            color: $white;
                            opacity: .5;
                            margin-bottom: 4px;
                            @include breakpoint(1199) {
                                font-size: 1rem;
                            }
                            @include breakpoint(1023) {
                                font-size: 1.3rem;
                            }
                        }
                        .item__count {
                            font-size: 2.5rem;
                            line-height: 36px;
                            color: #fff;
                            font-weight: 700;
                            margin-bottom: 4px;
                            @include breakpoint(1199) {
                                font-size: 1.5rem;
                            }
                            @include breakpoint(1023) {
                                font-size: 2.5rem;
                            }
                        }
                        .item__count-blue {
                            color: #1eb2a6;
                        }
                        .item__count-red {
                            color: #f64b3c;
                        }
                        .item__status {
                            color: $white;
                            font-size: 1.1rem;
                            line-height: 16px;
                            @include breakpoint(1199) {
                                font-size: 1rem;
                            }
                            @include breakpoint(1023) {
                                font-size: 1.1rem;
                            }
                        }
                        .item__status-blue {
                            color: #1eb2a6;
                            svg {
                                path {
                                    fill: #1eb2a6;
                                }
                            }
                        }
                        .item__status-red {
                            color: #f64b3c;
                            svg {
                                path {
                                    fill: #f64b3c;
                                }
                            }
                        }
                    }
                }
            }
            .corona-shield__VietNamStatus {
                .VietNamStatus__header {
                    margin-bottom: 14px;
                    svg {
                        margin-right: 8px;
                    }
                    span {
                        font-size: 1.3rem;
                        line-height: 19px;
                        color: $white;
                        font-weight: 700;
                        @include breakpoint(1199) {
                            font-size: 1.2rem;
                        }
                        @include breakpoint(1023) {
                            font-size: 1.3rem;
                        }
                    }
                }
                .VietNamStatus__content {
                    background: #fff;
                    padding: 12px;
                    border: 1px solid #e5e5e5;
                    box-sizing: border-box;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
                    border-radius: 4px;
                    &-number {
                        padding-bottom: 10px;
                        border-bottom: 1px solid #f1f1f1;
                        margin-bottom: 10px;
                        display: flex;
                        flex-wrap: wrap;
                        @include breakpoint(1023) {
                            justify-content: space-around;
                        }
                        .number__item {
                            &:not(:last-child) {
                                margin-right: 6px;
                            }
                            @include breakpoint(1199) {
                                margin-right: 10px;
                                margin-bottom: 10px;
                            }
                            .item__type {
                                font-size: 1.2rem;
                                line-height: 16px;
                                color: #888;
                                opacity: .5;
                                margin-bottom: 4px;
                            }
                            .item__number {
                                font-size: 3rem;
                                line-height: 36px;
                                color: #111;
                                font-weight: 700;
                                text-align: center;
                            }
                            .item__number-blue {
                                color: #1eb2a6;
                            }
                            .item__number-red {
                                color: #f64b3c;
                            }
                        }
                    }
                    &-total {
                        .statics {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 5px;
                            &__text {
                                font-size: 1.1rem;
                                line-height: 16px;
                                color: #888;
                            }
                            &__number {
                                font-size: 1.3rem;
                                line-height: 16px;
                                color: #333;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}