.news {
    margin-bottom: 27px;
    &__item {
        position: relative;
        height: 481px;
        overflow: hidden;
        max-width: 100%;

        @include breakpoint(768) {
            height: auto;
        }
        &:hover img {
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
        }
        @include breakpoint(767) {
            height: auto;
            margin-bottom: 20px;
        }
        img {
            height: 100%;
            width: 100%;
            transition: 0.5s;
            @include breakpoint(768) {
                height: auto;
            }
        }
        &-content {
            position: absolute;
            bottom: 0;
            z-index: 9;
            color: $white;
            padding: 26px 23px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 105, 106, 0.0007353283110118625) 100%);
            .news__date {
                font-size: 1.5rem;
                margin-bottom: 20px;
                @include breakpoint(1199) {
                    margin-bottom: 10px;
                    font-size: 1.4rem;
                }
            }
            .news__title {
                font-weight: 700;
                font-size: 2rem;
                margin-bottom: 12px;
                @include truncate(2);
                @include breakpoint(767) {
                    font-size: 1.8rem;
                }
                @include breakpoint(374) {
                    font-size: 1.6rem;
                }
                a {
                    color: $white;
                }
            }
            .news__desc {
                font-size: 1.5rem;
                @include truncate(2);
                @include breakpoint(374) {
                    font-size: 1.4rem;
                }
            }
        }
    }
}